@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dark{
  background-color: black;
  color: white;
}
/* 
[data-theme="dark"]{
  --color-base:white;
  --color-bgBase:black;
}

[data-theme="green"]{
  --color-base:black;
  --color-bgBase:seagreen;
}
[data-theme="purple"]{
  --color-base:white;
  --color-bgBase:purple;
} */
